.download-page-content {
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    background-image: url('/src//assets/download-bg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.download-section {
    grid-column: 2/3;
    text-align: center;
}

.download-section-heading {
    font-size: 2rem;
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .download-page-content {
        height: auto;
        padding: 5vh 0%;
    }
}

@media ((min-width: 320px) and (max-width: 767px)) {
    .download-page-content {
        background-position: left;
    }

    .download-section {
        grid-column: 1/3;
    }
}