.home-page {
    background-image: url('/src//assets/bg-slate.png');
    background-size: cover;
    background-position: center;
    padding: 2rem 0rem;
}

.home-page-content{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    color: #F1DABF;
}

.home-page-left-heading {
    margin-bottom: 3rem;
}

.home-page-left-content {
    padding: 16px;
    background: linear-gradient(to right, #37415140 70%, transparent 30%);
    border-radius: 10px;
}

.home-page-content-heading {
    margin-top: 0%;
}

.home-page-content-para {
    font-size: 14px;
    margin-bottom: 0%;
    opacity: 0.85;
}

.home-page-right-heading-container {
    position: absolute;
    top: 5%;
    right: 27.5%;
}

.home-page-right-heading {
    color: #1a1f2566;
    transform: scale(2.2);
}

.iphone {
    height: 75vh;
    filter: drop-shadow(10px 50px 25px #0f1115);
    position: relative;
    top: 15vh;
    background: transparent;
}

.home-page-content-section3 {
    position: relative;
    top: 20vh;
    padding: 16px;
    background: linear-gradient(to left, #1a1f2580 70%, transparent 30%);
    border-radius: 10px;
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .home-page-content {
        min-height: 45vh;
    }

    .iphone {
        height: 40vh;
        top: 10vh;
    }
}

@media ((min-width: 320px) and (max-width: 767px)) {
    .home-page-content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 5rem 0rem;
    }

    .home-page-left-heading {
        font-size: 3rem;
        text-align: center;
    }

    .home-page-left-content {
        background:#37415140;
    }

    .iphone {
        top: 0;
        height: 65vh;
    }

    .home-page-right-heading,
    .home-page-content-section3 {
        display: none;
    }
}