.iphone {
    height: 65vh;
    filter: drop-shadow(10px 50px 25px #0f1115);
    -webkit-filter: drop-shadow(10px 50px 25px #0f1115);
    position: relative;
    top: 5vh;
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .iphone {
        height: 50vh;
        top: 15vh;
    }
}

@media ((min-width: 320px) and (max-width: 767px)) {
    .iphone {
        top: 0;
        height: 65vh;
    }
}