.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .page {
        min-height: auto;
        padding: 5vh 0%;
    }
}