@import "tailwindcss";

.page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #0000001a;
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .page {
        min-height: auto;
        padding: 5vh 0%;
    }
}

@media ((min-width: 320px) and (max-width: 768px)) {
    .page {
        min-height: auto;
        padding: 5vh 0%;
    }
}